$black: #000000;
$grey: #d5d5d5;
$white: #ffffff;
$primary: #14213d;
// $light-primary: #457b9d;
$secondary: #fca311;
$ternary: #fb8500;
$warning: #ef233c;

$mint-green: #e1fcee;
$good-green: #5dc7b2;
$neg_money: $warning;
