@import "colors.scss";

.f-selected-color {
    cursor: pointer;
    border-radius: 50px;
    height: 20px;
    width: 20px;
    border: solid;
    display: block;
    margin: 0px 4px;

    &:hover {
        box-shadow: 0px 0px 10px 0px lighten($black, 10) inset;
    }
}
