@import "colors.scss";

.f-multi-select {
    .f-option-row {
        justify-content: space-between;
        margin: 0;
        padding: 5px;
        cursor: pointer;

        &:hover {
            background-color: $mint-green;
        }

        &.f-disabled {
            font-weight: bold;
            cursor: default;

            &:hover {
                background-color: $white;
            }
        }

        .e-selected-item {
            border: solid;
        }

        .e-option {
            padding: 5px;
            width: 100%;
            border-radius: 8px;
            cursor: pointer;
        }
    }

    .f-multi-select__indicator{
        cursor: pointer;
    }
}