@import "colors.scss";
@import "../../media-queries.scss";

.e-page-travel {
    .e-side-bar {
        max-width: 200px;
        margin: 15px;

        .e-side-bar-title {
            text-align: center;
            border-bottom: solid;
            font-weight: bold;
        }
    }

    .e-travel-block {
        margin: 2% 4%;
        padding: 10px;
        border-radius: 3px;
        min-height: 100px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        width: 100%;
        font-weight: bold;

        .e-block-name {
            overflow-x: hidden;
            text-overflow: ellipsis;
        }
    }
}
