@import "colors.scss";
@import "../../media-queries.scss";

.e-page-travel-lists {
    .e-side-bar {
        max-width: 200px;
        margin: 15px;

        .e-side-bar-title {
            text-align: center;
            border-bottom: solid;
            font-weight: bold;
        }
    }

    .e-tag-block {
        margin: 5px 0px;
        padding: 8px;
        border-radius: 12px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        width: 100%;
        font-weight: bold;
        text-align: center;

        .e-tag-name {
            overflow-x: hidden;
            text-overflow: ellipsis;
        }
    }

    .e-item-block {
        margin: 7px 10px;
        padding: 10px;
        border-radius: 3px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        width: 100%;
        font-weight: bold;

        .e-item-name {
            overflow-x: hidden;
            text-overflow: ellipsis;
        }
    }
}
